





<!-- ___________________________END OF HEADER_______________________________-->
                </div>
            </div>
        </div>
        <!-- ___________________________sidebar____________________________ -->

        <footer>
            <p class="text-center">
                Recordz &copy; 2016, All Rights Reserved
            </p>
        </footer>
        
    </body>
</html>
