





<!-- ___________________________END OF HEADER_______________________________-->
                </div>
            </div>
        </div>
        <!-- ___________________________sidebar____________________________ -->

        <footer>
            <p class="text-center">
                Recordz &copy; 2016, All Rights Reserved
            </p>
        </footer>

        <%# include our javascript %>
        <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
