<% include ../partials/header %>
<!-- ___________________HEADER Above - BODY Below___________________________-->




<h1>albums - index.ejs
    <a href="/albums/add" class="btn btn-success pull-right">Add Album</a>
</h1>


















<!-- ___________________FOOTER Below - BODY Above___________________________-->
<% include ../partials/footer %>
